@charset "UTF-8";
@font-face {
    font-family: 'Rage Italic';
    src: url('/fonts/rage-italic.woff2') format('woff2'),
        url('/fonts/rage-italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

*{
    margin:0; padding:0;
}
ul{list-style:none;}
a{text-decoration:none; color:black;}
img{border:0; vertical-align: top;}

body {
    font-family: 'Pretendard';
    /* background-color: #e5e0d8; */
    color:#191919;
}

#section{
    width:100%;
    position: relative;
    top: -159px; left: 0;
}
#section .main-area{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
#section .main-area .video-area{
    width: 100%;
    /* height: 953px; */
    height: 100%;
    overflow: hidden;
    /* background-image: url(../images/index/greenhouse05\ 1.png); */
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
}
#section .main-area .video-area video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#section .main-area .m-banner-txt{
    position: absolute;
    top: 60%;
    left: 10%;
    z-index: 999;
    color: white;
}
#section .main-area .m-banner-txt p{
    font-size: 20px;
    font-weight: 300;
}
#section .main-area .m-banner-txt h2{
    font-size: 28px;
    font-weight: 400;
    margin-top:10px;
}
#section .main-area .m-banner-txt .eng{
    font-family: 'Great Vibes', cursive;
    font-size: 16px;
    margin-top:30px;
}
#section .main-area .m-banner-txt .m_btn{
    width: 150px; height: 45px;
    margin-top:70px;
    border: 1px solid #fff;
    background-color: #ffffff00;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 400;
    cursor: pointer;
    transition:all 0.3s;
}
#section .main-area .m-banner-txt .m_btn a{
    color:#fff;
    display: block;
    line-height: 45px;
    font-size: 16px;
}
#section .main-area .m-banner-txt .m_btn:hover{
    background-color: #8b9773;
    border: 1px solid #8b9773;
}
#section .main-area .m-banner-txt .m_btn:hover a{
    color:#fff;
}

/* brand story */
#section .brand-story{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
}
#section .brand-story .story-wrap-txt{
    width: 45%;
}
#section .brand-story .story-wrap-txt .s-tit{
    font-size: 44px;
    color: #2b2b2b;
    margin-top: 60px;
}
#section .brand-story .story-wrap-txt .wrap-desc{
    margin-top: 80px;
}
#section .brand-story .story-wrap-txt .wrap-desc h3{
    color: #8B9773;
    font-size: 28px;
    margin-bottom: 30px;
}
#section .brand-story .story-wrap-txt .wrap-desc p{
    line-height: 1.4;
    color: #666666;
}
#section .brand-story .story-img{
    width: 50%;
    background-image: url(../images/index/brand-story-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}





#section .cont1{
    width:92%;
    margin:0 auto;
    margin-top:200px;
}
#section .cont1>h2{
    width:300px;
    margin:0 auto;
    font-size: 32px;
    text-align: center;
    font-weight: 500;
    margin-bottom:-100px;
}
#section .cont1 .c1_cont .swiper-slide .img-area img{
    transition:all 0.3s;
}
#section .cont1 .c1_cont .swiper-slide .img-area img:hover{
    opacity: 0.8;
}

.c1_cont .swiper{
    width: 100%;
}
.c1_cont .swiper-wrapper{
    width: 100%;
}
.c1_cont .swiper-slide{
    /* width:250px; height:700px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.c1_cont .swiper-slide  img{
    width:100%; height:100%;
    object-fit:cover;
}

#section .c1_cont .swiper-slide .c1_txt{
    margin-top: 10px;
}
#section .c1_cont .swiper-slide .item-name{
    color: #2b2b2b;
    font-size: 22px;
    font-weight: 600;
}
#section .c1_cont .swiper-slide .c1_txt .txt1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
#section .c1_cont .swiper-slide .c1_txt img{
    width: 24px;
}
#section .c1_cont .swiper-slide .c1_txt .c1_price .discount{
    font-size: 22px;
    font-weight: 600;
    color: #FD1111;
}
#section .c1_cont .swiper-slide .c1_txt .c1_price .sell-price{
    font-size: 22px;
    font-weight: 700;
    color: #2b2b2b;
    margin: 0 5px;
}
#section .c1_cont .swiper-slide .c1_txt .c1_price del{
    font-size: 16px;
    color: #888;
    
}







#section .cont3{
    width:100%;
    margin-top: 250px;
}
#section .cont3>ul{
    width:100%; 
    height: 544px;
    background-image: url(../images/index/month-flower.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#section .cont3>ul>li{
    width:100%;
    margin:0 auto;
    color:white;
    text-align:center;
}
#section .cont3>ul .c3_m_txt1{
    padding-top:140px;
    font-size: 26px;
    font-weight: 200;
    color:rgb(255, 255, 255);
    line-height: 40px;
}
#section .cont3>ul .c3_m_txt2{
    font-family: 'Great Vibes', cursive;
    font-size:22px;
    font-weight: 200;
    margin-top:30px;
}
#section .cont3>ul>li .c3_btn{
    width:180px; height:40px;
    text-align: center;
    line-height: 40px;
    transition:all 0.5s;
    cursor: pointer;
    margin-top:100px;
    border:1px solid #ffffff;
    background-color: #19191900;
}
#section .cont3>ul>li .c3_btn>a{
    display: block;
    color:white;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 40px;
}
#section .cont3>ul>li .c3_btn:hover{
    background-color: #fff;
}
#section .cont3>ul>li .c3_btn:hover>a{
    color:#8b9773;
}


#section .florists{
    width: 85%;
    margin: 250px auto 0;
}

#section .florists .flo-img-area{
    display: flex;
    justify-content: center;
    gap: 20px;
}
#section .florists .flo-img-area img{
    width: 300px;
    height: 300px;
    border-radius: 15px;
    box-sizing: border-box;
    transition: all 0.3s;
}
#section .florists .flo-img-area img:nth-child(odd){
    margin-top: 50px;
    
}
#section .florists .flo-img-area img:hover{
    transform: translateY(-10px);
    /* transform: rotate(5deg); */
}
#section .florists .flo-txt-area{
    text-align: center;
    margin-top: 50px;
}
#section .florists .flo-txt-area h2{
    font-size: 46px;
    color: #8B9773;
    font-style: italic;
    font-family: 'Great Vibes', cursive;
    font-weight: 400;
}
#section .florists .flo-txt-area p{
    color: #2b2b2b;
    margin-top: 20px;
}
#section .florists .flo-txt-area button{
    width:180px; height:40px;
    text-align: center;
    line-height: 40px;
    transition:all 0.5s;
    cursor: pointer;
    margin-top:50px;
    border:1px solid #8B9773;
    background-color: #19191900;
}
#section .florists .flo-txt-area button a{
    display: block;
    color:#8B9773;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 40px;
}
#section .florists .flo-txt-area button:hover{
    background-color: #8B9773;
    border:1px solid #8B9773;
}
#section .florists .flo-txt-area button:hover a{
    color:#fff;
}




#section .insta{
    width: 100%;
    margin-top: 250px;
}
#section .insta .ins-txt{
    text-align: center;
    color: #2b2b2b;
}
#section .insta .ins-txt h2{
    font-weight: 500;
    font-size: 30px;
}
#section .insta .ins-txt p{
    color: #8B9773;
    margin-top: 5px;
}
#section .insta swiper-container {
    width: 100%;
    display: block;
    box-sizing: border-box;
    overflow: hidden;
}
#section .insta .insta-cont{
    width: 100%;
    margin-top: 80px;
    overflow: hidden;
}
#section .insta .insta-cont swiper-slide{
    width: 340px;
    /* height: 300px; */
    overflow: hidden;
    border-radius: 50px;
    margin-left: 30px;
    flex-shrink: 0;
}
#section .insta .insta-cont swiper-slide img{
    width: 100%;
    object-fit: cover;
    transition: all 0.3s;
}
#section .insta .insta-cont swiper-slide:hover img{
    transform: scale(1.1);
}



@media all  and (max-width:1020px){

    #section .main-area .m-banner-txt p{
        font-size: 16px;
    }
    #section .main-area .m-banner-txt h2{
        font-size: 20px;
    }
    #section .main-area .m-banner-txt .m_btn{
        width: 120px; height: 35px;
    }
    #section .main-area .m-banner-txt .m_btn a{
        line-height: 35px;
        font-size: 15px;
    }



    #section .brand-story{
        flex-direction: column-reverse;
    }
    #section .brand-story .story-wrap-txt{
        width: 100%;
    }
    #section .brand-story .story-img{
        width: 100%;
        height: 300px;
    }
    #section .brand-story .story-wrap-txt .s-tit{
        font-size: 38px;
        margin-top: 50px;
    }
    #section .brand-story .story-wrap-txt .wrap-desc{
        margin-top: 30px;
    }
    #section .brand-story .story-wrap-txt .wrap-desc h3{
        font-size: 24px;
        margin-bottom: 30px;
    }

    #section .cont1{
        margin-top:150px;
    }
    #section .cont1>h2{
    font-size: 24px;
    }
    #section .c1_cont .swiper-slide .item-name{
        font-size: 20px;
    }


    #section .cont3{
        margin-top: 150px;
    }
    #section .cont3>ul{
        background-attachment: scroll;
    }
    #section .cont3>ul .c3_m_txt1{
        font-size: 22px;
        line-height: 30px;
        padding-top:150px;
    }
    #section .cont3>ul>li .c3_btn>a{
        font-size: 15px;
    }


    #section .insta{
        margin-top: 150px;
    }
}